header {
  width: 100%;
  text-align: right;
}
ul {
  list-style: none;
  float: right;
  width: 100%;
  text-align: right;
  right: 0;
}
li {
display: inline-block;
width: 10%;
}
li a {
  display: block;
  height: 60px;
  width: 60px;
  background-image: url("images/spritepractice.png")
}

@media only screen and (max-width: 600px) {
  li a {
    height: 25px;
    width: 25px;
    background-size: 120px 60px;
  }
}
/* COLOR GO BLACK AND WHITE ON HOVER:
ul .linkedin a {
  background-position: -60px 0px;
}
ul .facebook a {
  background-position: -120px 0px;
}
ul .email a {
  background-position: -180px 0px;
}


ul .instagram a:hover{
  background-position: -1px -60px;
  opacity: .8;
}
ul .linkedin a:hover {
  background-position: -61px -60px;
  opacity: .8;
}
ul .facebook a:hover {
  background-position: -121px -60px;
  opacity: .8;
}
ul .email a:hover {
  background-position: -181px -60px;
  opacity: .8;
} */

/* black and white to color on hover: */

ul .instagram a:hover{
  background-position: 0px 0px;
  opacity: .8;
}
ul .linkedin a:hover {
  background-position: -60px 0px;
}
ul .facebook a:hover {
  background-position: -120px 0px;
}
ul .email a:hover {
  background-position: -180px 0px;
}
/* on hover:  */

ul .instagram a{
  background-position: -1px -60px;
}
ul .linkedin a {
  background-position: -61px -60px;
}
ul .facebook a{
  background-position: -121px -60px;
}
ul .email a {
  background-position: -181px -60px;
}
