
body {
  background: black;
}

@media only screen and (max-width: 600px), (max-device-width: 600px) {

header {
  background-image: url("images/mobile-resize-practice.png");
  background-repeat: no-repeat;
  height: 150px;
}


}
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  header {
    background-image: url("images/ipad-resize-practice.png");
    height: 285px;
  }


}

header {
  background-image: url("images/ipad-resize-practice.png");
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #790000;
}
